@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
		 local('MaterialIcons-Regular'),
		 url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
		 url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
		 url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
	font-weight: 700;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

body {
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}  

h1 a {
	display: inline-block;
	margin-right: 20px;
}

.fixed-table-container {
	margin-top: 20px;
}

table div.empty {
    font-size: 2rem;
	color: #ccc;
	position: relative;
	text-align: center;
}

table div.empty small {
	font-size: 4rem;
	position: relative;
	top: -8px;
}

.slideView {
	position: relative;
	width: 900px;
	margin: auto;
}

.slideView > nav {
	border-top: 1px solid #3F4756;
	border-left: 1px solid #3F4756;
	border-right: 1px solid #3F4756;
}

.slideView > div {
	border-left: 1px solid #3F4756;
	border-right: 1px solid #3F4756;
}

.slideView > footer {
	border-bottom: 1px solid #3F4756;
	border-left: 1px solid #3F4756;
	border-right: 1px solid #3F4756;
}

.slideView #content #flashWindow {
	-webkit-box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.4);
	min-height: 490px;
	min-width: 632px;
	padding: 10px;
}

nav a, footer a {
	outline: 0;
	color: #e0e0e0;
	display: inline-block;
	margin: 0;
	padding: 14px;
}

nav a > i.material-icons, footer a > i.material-icons {
	color: #fff;
	font-size: 30px;
}

nav a > span, footer a > span {
	display: inline-block;
	color: #fff;
	position: relative;
	top: -8px;
	padding-left: 4px;
}

nav a:hover, nav a:active, footer a:hover, footer a:active {
	outline: 0;
	background-color: #00365c;
	text-decoration: none;
}

nav a:hover, nav a:active, nav a:focus,
footer a:hover, footer a:active, footer a:focus  {
	outline: 0;
}

nav .brand-logo {
	color: #eee;
    display: inline-block;
    font-size: 31px;
	padding: 7px;
	margin-left: 30px;
	cursor: pointer;
}

.vula-blue-dark {
	background-color: #004678 !important;
}

.vula-blue-light {
	background-color: #39689D !important;
}

.vula-blue-lighter {
	background-color: #F4FAFF !important;
}

.menuButton {
	margin:2px auto;
	width:100%;
	font-size:12px;
	padding:0px !important;
}

a.side-btn {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);

	position: absolute;
	right: -96px;
	top: 127px;
	background: #A3ACBD;
	padding: 4px 8px 6px;
	display: inline-block;
	border-radius: 4px 4px 0 0;
	color: #444;
	border: 1px solid #3F4756;
    border-bottom: 0px;
}

a.side-btn:hover, a.side-btn:active {
	color: #fff;
	background-color: #6F7788;
}

footer > div:first-child {
	padding-top: 13px;
}

/* Sa-aadat Parker */
footer #author {
	padding: 0px;
	display: block;
}

footer #author a {
	outline: 0;
	color: #A3ACBD;
	font-size: 12px;
	background: transparent;
	display: inline-block;
	margin: 0;
	padding: 0px;
	position: relative;
}

footer #author a:hover,
footer #author a:active {
	color: #e0e0e0;
	background: transparent;
}

footer #author a > i.material-icons {
	color: #A3ACBD;
	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 130px;
}

footer #author a:hover > i.material-icons,
footer #author a:active > i.material-icons {
	color: #e0e0e0;
}

.copyright {
	color: #bbb;
	text-align: center;
	display: block;
	font-size: 10px;
	padding: 5px;
}
.copyright > span {
	float: right;
}

#menubar a {
	outline: 0;
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: rgb(78, 122, 180);;
	text-align: center;
	border: none;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;

	margin: 10px 0px;

	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;

	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
  
#menubar a:hover {
	background-color: #39689D;
}

#menubar a:first-child {
	margin-top: 6px;
}


.slideView a.disabled {
	opacity: .65;
	cursor: default;
}

.slideView a.disabled:hover,
.slideView a.disabled:active,
.slideView a.disabled:focus {
    background-color: transparent
}


.OpeningCreditsHeading{
	font-weight: 500;
	font-size: 42px;
}

.acknowledgements{
	text-align: justify;
}

.fullScreenOverlay{
	z-index: 100;
	position: absolute;
	top: 30px;
	left: 10px;
}

#exitButtonStyle{
	z-index: 1000;
	position: absolute;
	top: 4px;
	left: 10px;
	color: black;
	font-size: 20px;
}

#exitButtonStyle i{
	color: black;
	width:20px;
	height:20px;
}